@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #d8d8d8 !important;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.poster-img{
  width: 200px;
  margin: 5px;
  border-radius: 15px;
}

.add-poster{
  background-color: #acacac;
  width: 200px;
  margin: 5px;
  border-color: #474747;
  border-radius: 15px;
}

.search{
  width: 93%;
  height: 50px;
  border-radius: 15px;
  border: 1px solid #ccc;
  padding: 10px;
}

.login {
  width: 40% !important;
}

::-webkit-scrollbar{
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #ccc;
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #363636;
}

::-webkit-scrollbar-thumb:hover{
  background-color: #4e4e4e;
}